defaults:
  - mujoco_playground_base

task_name: SafeQuadrupedWalk
task_params:
  angle_tolerance: -20.
  action_repeat: 1
  ctrl_dt: 0.02
  episode_length: 1000
  sim_dt: 0.005
  vision: false

# Sample uniformly around the nominal value
train_params:
  torso: [-250, 250]
  friction: [0., 0.]
  gear_hip:
    x: [-20., 20.]
    y: [-20., 20.]
    z: [-60., 60.]
  gear_knee: [0., 0.]

eval_params:
  torso: [-250, 250]
  friction: [-0.05, 0.05]
  gear_hip:
    x: [-20., 20.]
    y: [-20., 20.]
    z: [-60., 60.]
  gear_knee: [-40., 40.]
